h1, h2, h3, h4, h5{
    font-family: russo;
}
h1{
    font-size: 3.8em;
}
@font-face {
    font-family: archivo;
    src: url(../fonts/ArchivoBlack-Regular.ttf);
}
@font-face {
    font-family: quatrobold;
    src: url(../fonts/QuattrocentoSans-Bold.ttf);
}
@font-face {
    font-family: quatroregular;
    src: url(../fonts/QuattrocentoSans-Regular.ttf);
}
@font-face {
    font-family: russo;
    src: url(../fonts/RussoOne-Regular.ttf);
}
.navbar{
    z-index: 50;
}
.navbar-brand{
    margin: auto;
}
#banner-main{
    z-index: 10;
    background-image: url(../media/bg-banner-main.jpg);
    background-size: cover;
    background-position: 0px -200px;
    transform: skewY(-2deg);
    margin-top: -2%;
    height: 400px;
    padding: 2%;
}
#banner-main>*{
    transform: skewY(2deg);
}
#banner-main div{
    margin-left: 50%;
    margin-top: 4%;
}
main{
    margin-top: 75px;
}
#circuit *{
    flex-basis: 50%;
}
#datos-circuito{
    font-family: russo;
}
#datos-circuito>div>div{
    width: 75%;
    height: 50%;
    border-radius: 25px;
    font-size: 3em;
    padding: 10%;
}
#karts{
    width: 150%;
    transform: skewY(2deg);
    margin-left: -25%;
    height: 600px;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 3%;
    z-index: 40;
}
#karts>*{
    transform: skewY(-2deg);
}
.card{
    width: 400px;
    background-color: rgba(0, 0, 0, 0);
}
#grupo{
    width: 150%;
    margin-left: -25%;
    height: 400px;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 3%;
    z-index: 50;
    position:relative;
    margin-top: -2.5%;
}